.header-wrap {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #275D38;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    color: white;
    font-size: 24pt;
    .uvu-logo {
        width: 140px;
        height: auto;
    }
    h2 {
        color: white;
    }
}
.file-upload {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.upload-form {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.upload-input {
    background: white;
    width: 100px;
    margin-right: 10px;
    input {
        width: 100px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 4px;
        font-size: 11pt;
        cursor: pointer;
    }
}
.file-name {
    margin-right: 5px;
}
.upload-btn {
    button {
        background: green;
        border-radius: 4px;
    }
}
.nav {
    width: 28vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.room-select {
    width: 200px;
}
.pro-select {
    width: 200px;
}